Codigo_P1/Backend/.vs/
Codigo_P1/Backend/API.W/bin/
Codigo_P1/Backend/API.W/obj/
Codigo_P1/Backend/API/bin/
Codigo_P1/Backend/API/obj/
Codigo_P1/Backend/BS/bin/
Codigo_P1/Backend/BS/obj/
Codigo_P1/Backend/DAL.DO/bin/
Codigo_P1/Backend/DAL.DO/obj/
Codigo_P1/Backend/DAL.EF/bin/
Codigo_P1/Backend/DAL.EF/obj/
Codigo_P1/Backend/DAL.Repository/bin/
Codigo_P1/Backend/DAL.Repository/obj/
Codigo_P1/Backend/DAL/bin/
Codigo_P1/Backend/DAL/obj/
Codigo_P2/Solution/.vs/
Codigo_P2/Solution/FrontEnd.API/bin/
Codigo_P2/Solution/FrontEnd.API/obj/
Codigo_P2/Solution/FrontEnd.W/bin/
Codigo_P2/Solution/FrontEnd.W/obj/
